spring:
  # Jersey metrics fail on WildFly
  autoconfigure:
    exclude: >
      org.springframework.boot.actuate.autoconfigure.metrics.jersey.JerseyServerMetricsAutoConfiguration
  ldap:
    embedded:
      base-dn: dc=example,dc=org
      credential:
        username: uid=admin
        password: secret
      ldif: classpath:people.ldif
      port: 8389
      validation:
        enabled: false

management:
  endpoint:
    health:
      show-details: ALWAYS

server:
  port: 8081

logging:
  level:
    root: info
