<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee 
   http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>JSF Views</web-resource-name>
			<url-pattern>/</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>ADMIN</role-name>
			<role-name>USER</role-name>
		</auth-constraint>
	</security-constraint>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Main JSF Views</web-resource-name>
			<url-pattern>/views/main/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>ADMIN</role-name>
			<role-name>USER</role-name>
		</auth-constraint>
	</security-constraint>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Admin JSF Views</web-resource-name>
			<url-pattern>/views/admin/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>ADMIN</role-name>
		</auth-constraint>
	</security-constraint>

	<security-role>
		<role-name>USER</role-name>
	</security-role>
	<security-role>
		<role-name>ADMIN</role-name>
	</security-role>

	<context-param>
		<param-name>javax.faces.PROJECT_STAGE</param-name>
		<param-value>Development</param-value>
	</context-param>

	<servlet>
		<servlet-name>Faces Servlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.xhtml</url-pattern>
	</servlet-mapping>

	<session-config>
		<session-timeout>15</session-timeout>
	</session-config>

	<welcome-file-list>
		<welcome-file>/index.xhtml</welcome-file>
	</welcome-file-list>

	<error-page>
		<error-code>403</error-code>
		<location>/views/errors/403.xhtml</location>
	</error-page>
	<error-page>
		<error-code>404</error-code>
		<location>/views/errors/404.xhtml</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/views/errors/500.xhtml</location>
	</error-page>

</web-app>