<?xml version="1.0" encoding="UTF-8"?>
<server description="jaxrs">

	<featureManager>
		<feature>microProfile-1.3</feature>
	</featureManager>

	<variable name="default.http.port" defaultValue="9080" />
	<variable name="default.https.port" defaultValue="9443" />
	<variable name="app.name" defaultValue="learn-jakartaee-jaxrs" />
	<variable name="app.version" defaultValue="0.0.1-SNAPSHOT" />

	<httpEndpoint id="defaultHttpEndpoint"
		httpPort="${default.http.port}" httpsPort="${default.https.port}" />

	<webApplication id="${app.name}"
		location="${app.name}-${app.version}.war" contextRoot="/" />

</server>