<?xml version="1.0" encoding="UTF-8"?>
<server description="ear">

	<featureManager>
		<feature>jakartaee-9.1</feature>
		<feature>microProfile-5.0</feature>
		<feature>jndi-1.0</feature>
	</featureManager>

	<variable name="default.http.port" defaultValue="9080" />
	<variable name="default.https.port" defaultValue="9443" />

	<httpEndpoint id="defaultHttpEndpoint"
		httpPort="${default.http.port}" httpsPort="${default.https.port}" />

	<library id="global">
		<!-- Application Code -->
		<file name="${config}" />
		<file name="${envutil}" />
		<file name="${datasourceutil}" />
		<!-- Logging Libraries -->
		<file name="${slf4j}" />
		<file name="${slf4jjdk14}" />
		<!-- DataSource / Driver Libraries -->
		<file name="${derbypath}" />
		<file name="${derbyclientpath}" />
		<file name="${derbytoolspath}" />
		<file name="${derbysharedpath}" />
		<file name="${hikaricp}" />
		<!-- Spring Exression Libraries -->
		<file name="${springexpression}" />
		<file name="${springcore}" />
		<file name="${springjcl}" />
	</library>

</server>
